@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Azeret Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.header {
    margin-bottom: 74px;
    max-width: 1440px;
    max-height: 750px;
    margin: 0 auto;
    background-image: url('assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.header .banner-sec {
    width: 1440px;

    height: 750;
    
}

.header .banner {
    margin: 0 auto;

    /* max-width: 1440px;
    max-height: 652px; */
    
    width: 998px;
    height: 660px;
}

.banner .banner-content {
    text-align: center;
}

.banner .banner-img {
    margin: 0px auto;
    width: 240.28px;
    height: 240px;
    margin-top: 26px;
    margin-bottom: 30px;
    

}

.banner .banner-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.banner .banner-discription {
    margin-top: 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;

}

.banner .banner-btn {
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px 21px 24px;
    margin: 32px 0px 44px 0px;
}

