@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Azeret Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.header {
    margin-bottom: 74px;
    max-width: 1440px;
    max-height: 750px;
    margin: 0 auto;
    background-image: url('assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.header .banner-sec {
    width: 1440px;

    height: 750;

}

.header .banner {
    margin: 0 auto;

    /* max-width: 1440px;
    max-height: 652px; */

    width: 998px;
    height: 660px;
}

.banner .banner-content {
    text-align: center;
}

.banner .banner-img {
    margin: 0px auto;
    width: 240.28px;
    height: 240px;
    margin-top: 26px;
    margin-bottom: 30px;


}

.banner .banner-title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.banner .banner-discription {
    margin-top: 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;

}

.banner .banner-btn {
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px 21px 24px;
    margin: 32px 0px 44px 0px;
}

.second-page {
    width: 1140px;
    height: 1500px;
    margin: 74px 150px 88px 150px;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);

}

.why-web-dev {
    width: 1050px;
    margin: 0 auto;


}

.why-web-dev .sec-title-dis {
    text-align: center;

}

.why-web-dev .sec-title {
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}

.why-web-dev .sec-discription {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 48px;

}



.why-web-dev .cause-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    margin-bottom: 32px;
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}




.cause-one .title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0px 16px 0px;
}

.cause-one .discription {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    opacity: 0.7;
    font-weight: 400;
    margin-top: 16px;
}

.lnmr-btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px 12px 20px;
    margin: 32px 0px 9.5px 0px;

}

.cause-one .cause-img {
    width: 259.56px;
    height: 217.01px;
    padding: 3px 13px 19px 0px;

}

.why-web-dev .cause-two {
    border-radius: 16px;

    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row;
    padding: 48px;

    width: 946px;
    height: 336px;
}

.cause-two .title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 101px 16px 48px;
}

.cause-two .discription {
    margin: 0px 110px 32px 48px;
}

.cause-two .cause-info .lnmr-btn {
    margin: 0px 428px 9.5px 48px;
}

.why-web-dev .cause-three {
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    width: 946px;
    height: 336px;
    display: flex;
    padding: 48px;
    margin-top: 32px;
}

.cause-three .title {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    margin: 10.5px 236px 16px 0px;
}

.cause-three .discription {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin: 0px 160px 32px 0px;


}

.cause-three .cause-img {

    width: 206.4px;
    height: 187.32px;
}


.third-page {
    width: 1140px;
    height: 775px;
    margin: 0 auto;
}

.third-page .my-inspi {
    width: 1140px;
    height: 775px;
    border: 3px solid blue;
    margin-bottom: 150px;

}

.third-page .my-inspi .my-ispi-title-dis {
    text-align: center;
}

.third-page .my-inspi .my-ispi-title-dis .title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.third-page .my-inspi .my-ispi-title-dis .discription {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.my-inspi .my-inspi-video {

    width: 1076px;
    height: 550px;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}




.fourth-page {
    margin: 0 auto;
    width: 1140px;
    height: 460px;

}

.fourth-page .my-curnt-trgt {}

.fourth-page .my-curnt-trgt .info .title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;

}

.fourth-page .my-curnt-trgt .info .discription {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 48px;
    text-align: center;

}

.fourth-page .my-curnt-trgt .items {
    border: 2px solid red;
    display: flex;
    width: 1140px;
    height: 299px;
    justify-content: space-between;

}

.fourth-page .my-curnt-trgt .items .item-1 {
    padding: 40px;
    width: 284px;
    height: 219px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);

}

.fourth-page .my-curnt-trgt .items img {
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}

.fourth-page .my-curnt-trgt .items .title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 800;
}

.fourth-page .my-curnt-trgt .items .discription {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 24px;


}

.fourth-page .my-curnt-trgt .items .item-lnmr {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;

}

.fourth-page .my-curnt-trgt .items .item-2 {
    border-radius: 16px;
    padding: 40px;
    background: rgba(0, 76, 232, 0.05);
    width: 284px;
    height: 219px;
}

.fourth-page .my-curnt-trgt .items .item-3 {
    width: 284px;
    height: 219px;
    padding: 40px;
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);

}

.fifth-page {

    width: 1140px;
    height: 315px;
    margin: 0 auto;
    border: 3px solid blue;


}

.fifth-page .support {
    border: 3px solid red;
    width: 1140px;
    height: 315px;
    background-image: url('assets/handshake.jpg');
    background-size: 1140px 314px;
    border-radius: 16px;

    background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), url(Email);


}

.support-title-dis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fifth-page .support .title {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    margin-top: 64px;
    margin-bottom: 16px;

}

.fifth-page .support .discription {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    margin-bottom: 24px;
    font-weight: 400;
}

.fifth-page .support .sup-form-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;


}

.fifth-page .support .sup-form-btn .sup-form {
    width: 508px;
    height: 16px;
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-right: 16px;
    padding: 20px;
    border-radius: 16px;

    background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), url(Email);
}

.fifth-page .support .sup-form-btn .sup-btn {
    width: 120px;
    height: 58px;
    border-radius: 8px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px;

    background: rgb(255, 255, 255);
}